body {
    margin: 0;
}

.game_board {
    
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    width: 100vw;
    height: 100vh;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}